

 .titulo {
    text-align: center;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(245, 240, 240)
}

.box_form {
    background: #040505;
    padding: 45px 0;
    border-radius: 10px;
    box-shadow: 
    0 0 5px rgb(246, 244, 247);
   
    height: auto;
    display: inline-block;
    margin-top: 20px;

}

.form {
    width: 100%;
    margin: auto;
}

.grupo {
    position: relative;
    margin: 45px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.create_input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #49454567;
}

.create_input:focus {
    outline: none;
    color: #5e5d5d
}

.label {
    color: white;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    top: -5px;
    left: 5px;
    transition: 0.5s all;
    pointer-events: none;
}



textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 120px;
    padding: 10px;
    
    background:#c6c6c6;
    outline: none;
    
    color: rgb(10, 10, 10);
    font-family: monospace;
    font-size: 0.875em;
    
    border: solid 2px #49454567;
}

.description {
    color: white;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    top: -25px;
    left: 5px;
    transition: 0.5s all;
    pointer-events: none;
}



.barra{
    position: relative;
    display: block;
    width: 100%;
}





.btn_submit{
    font-family: system-ui;
    background: #422d64;
    border: 1px solid;
    border-radius: 7px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 
    0 0 2px rgb(9, 144, 235), 
    
}

.select_create {
    background-color: #ece4f0;
    color: black;
    padding: 7px;
    font-size: 16px;
    appearance: button;
    outline: none;
    margin: 10px;
    font-family: system-ui;
  }

.select_create .option_create {
    padding: 30px;
  }

  .danger {
      color: #9e08a3;
      line-height: 0px;
      font-size: 12px;
      margin-top: 10px;
  }

  .box_opcion {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #9e6ab3;
    padding: 5px;
    border-radius: 5px;
  }

  .opcion_title {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }

  .btn_remove {
    display: inline-block;
    width: 30px;
    text-align: center;
    padding: 0;
    height: 20px;
    background: #080808;
  }

  .x {
      color: white;
  }

  .box_home {
    margin-top: 20px;
  }

  .back_home {
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    font-family: system-ui;
    background: #422d64;
    border: 1px solid;
    display: block;
    width: 20%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 
    0 0 2px rgb(8, 220, 248); 
    
    font-weight: 400;
  } 


    